QDRANT_CLUSTER_API=replace-me
QDRANT_CLUSTER_ENDPOINT=https://your-cluster-id.gcp.cloud.qdrant.io

QDRANT_COLLECTION=name collection
SPARSE_VOCAB_PATH=./_store/sparse_vocab.json

CHUNKS_TOPIC=documents.chunks
